<p style="color: green"><%= notice %></p>

<%= render @article %>

<div>
  <%= link_to "Editar", edit_page_article_path(@page, @article) %> |
  <%= link_to "Volver", page_articles_path(@page) %>

  <%= button_to "Borrar", page_article_path(@page, @article), method: :delete %>
</div>
