<p style="color: green"><%= notice %></p>

<h1>Pages</h1>

<div id="pages">
  <% @pages.each do |page| %>
    <!-- <%= render page %> -->
    <p>
      <%= link_to "#{page.title}", page %>
    </p>
    <ul>
        <% page.articles.each do |article| %>
          <li>
            <%= link_to "#{article.title}", page_article_path(page, article), class: "btn btn-primary text-white" %>
            <!-- < %= article.title %> -->
          </li>
        <% end %>
    </ul>
  <% end %>
</div>

<%= link_to "New page", new_page_path %>
