<!DOCTYPE html>
<html>
  <head>
    <title>WikiTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- The main idea was to render sidemenu on a corner, but due to the Rails MVC conventions it can't be displayed here -->
    <!-- < %= render 'components/sidemenu' %> -->

    <h1>Free Rails Wiki Template</h1> <p>(simply comment this line on app/views/layouts/application.html.erb)</p>
    <%= yield %>
  </body>
</html>
